numpy~=1.23.5
torch~=1.13.1
onnx~=1.16.1
scipy~=1.14.1
tqdm~=4.66.1
pandas~=2.2.3
matplotlib~=3.9.2
seaborn~=0.11.2
pathlib~=1.0.1
asammdf~=8.0.1
opencv-python~=4.6.0.66
paddleocr~=2.7.0.2
PyAutoGUI~=0.9.53
pyperclip~=1.8.2
pynput~=1.7.7
Pillow~=8.4.0
onnxruntime~=1.18.0
onnxsim~=0.4.36
onnxconverter-common~=1.14
psutil~=6.1.0
packaging~=24.2
flatbuffers~=24.3.25
six~=1.16.0
lxml~=5.3.0
requests~=2.32.3
onnxmltools~=1.12.0
sympy~=1.13.3
attrs~=24.2.0
